In [1]:
import sys
sys.path.insert(0, '/cndd/fangming/CEMBA/snmcseq_dev')
from __init__ import *
from __init__jupyterlab import *

import snmcseq_utils

In [2]:
df_genes = pd.read_csv(PATH_GENEBODY_ANNOTATION, sep='\t')
df_genes['gid'] = df_genes['gene_id'].apply(lambda x: x.split('.')[0])
print(df_genes.shape)
df_genes.head()

(53379, 8)

,gene_id,gene_name,chr,start,end,strand,gene_type,gid
0,ENSMUSG00000102693.1,4933401J01Rik,chr1,3073253,3074322,+,TEC,ENSMUSG00000102693
1,ENSMUSG00000064842.1,Gm26206,chr1,3102016,3102125,+,snRNA,ENSMUSG00000064842
2,ENSMUSG00000051951.5,Xkr4,chr1,3205901,3671498,-,protein_coding,ENSMUSG00000051951
3,ENSMUSG00000102851.1,Gm18956,chr1,3252757,3253236,+,processed_pseudogene,ENSMUSG00000102851
4,ENSMUSG00000103377.1,Gm37180,chr1,3365731,3368549,-,TEC,ENSMUSG00000103377

In [3]:
f = '/cndd/fangming/CEMBA/data/MOp_all/results_final/miniatlas_joint_clusterings.tsv'
df_clst = pd.read_csv(f, sep='\t')
print(df_clst.shape)
df_clst.head()

/cndd/fangming/venvs/conda_dobro/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(408885, 15)

,sample,joint_embedding_x,joint_embedding_y,modality,modality_name,single_modality_cluster,single_modality_annot,joint_cluster_round2,joint_cluster_round2_annot,joint_cluster_round3,joint_cluster_round3_annot,joint_cluster_round3_color,joint_cluster_round4,joint_cluster_round4_annot,joint_cluster_round4_color
0,snmcseq_gene_2C_M_0,0.471629,-3.134735,snmcseq_gene,DNA methylation,L4-IT-Rorb_Rorb-Tenm2,L4-IT-Rorb_Rorb-Tenm2,1-1,L5 IT Rspo1_1,1-1-1,L5 IT Rspo1_1,#3CBC78,1-1-1-1,L5 IT Rspo1_1,#3CBC78
1,snmcseq_gene_2C_M_1,-2.414973,-12.098081,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-2,L2/3 IT,4-2-1,L2/3 IT,#6F836B,4-2-1-1,L2/3 IT,#6F836B
2,snmcseq_gene_2C_M_100,-1.446751,-12.051894,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-1,L2/3 IT,4-1-1,L2/3 IT,#6F836B,4-1-1-1,L2/3 IT,#6F836B
3,snmcseq_gene_2C_M_1000,-1.901734,-13.660591,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-2,L2/3 IT,4-2-1,L2/3 IT,#6F836B,4-2-1-1,L2/3 IT,#6F836B
4,snmcseq_gene_2C_M_1001,-0.981086,-11.936621,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-1,L2/3 IT,4-1-1,L2/3 IT,#6F836B,4-1-1-1,L2/3 IT,#6F836B

In [4]:
f = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_metadata.tsv'
df_meta = pd.read_csv(f, sep='\t', index_col=0)
print(df_meta.shape)
df_meta.head()

(9366, 31)

,FullCellID,CCC_Rate,CG_Rate,CG_RateAdj,CH_Rate,CH_RateAdj,FinalReads,InputReads,MappedReads,Region,...,Slice,PassFilter,pca_0,pca_1,umap_0,umap_1,tsne_0,tsne_1,MajorCluster,SubCluster
cell,,,,,,,,,,,,,,,,,,,,,
snmcseq_gene_2C_M_0,180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_1_CE...,0.00511,0.77073,0.76955,0.02154,0.01651,1076259.0,2314862,1517338.0,2C,...,2,True,-11.588627,-0.005045,10.051389,7.099836,-3.343437,18.330174,L4-IT-Rorb,L4-IT-Rorb_Rorb-Tenm2
snmcseq_gene_2C_M_1,180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_1_CE...,0.00531,0.75683,0.75553,0.02196,0.01674,1197092.0,2590626,1709334.0,2C,...,2,True,-19.267288,-7.374098,13.717241,-1.786627,9.212860,-26.514785,L23-IT-Cux2,L23-IT-Cux2
snmcseq_gene_2C_M_100,180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_1_CE...,0.00634,0.74984,0.74824,0.02718,0.02097,2026078.0,4599922,3154619.0,2C,...,2,True,-23.625140,-5.929033,13.739521,1.107174,12.798545,-17.126331,L23-IT-Cux2,L23-IT-Cux2
snmcseq_gene_2C_M_1000,180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_3_CE...,0.00521,0.77073,0.76953,0.02117,0.01604,2368464.0,5320502,3648786.0,2C,...,2,True,-21.815190,-7.130878,14.154541,-2.284118,8.443658,-27.943267,L23-IT-Cux2,L23-IT-Cux2
snmcseq_gene_2C_M_1001,180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_3_CE...,0.00518,0.76248,0.76124,0.02294,0.01785,1909588.0,4259662,2952951.0,2C,...,2,True,-23.539356,-5.032511,13.372279,0.609600,11.219036,-17.414017,L23-IT-Cux2,L23-IT-Cux2

In [6]:
f_mc = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_mCH_raw.npz'
f_c = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_CH_raw.npz' 
f_cell = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_raw.cell'
f_gene = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_raw.gene'

gc_matrix = snmcseq_utils.load_gc_matrix_methylation(f_gene, f_cell, f_mc, f_c)

In [7]:
# get mCH for each cluster (alternative way)


_x = gc_matrix 
intg_clst = df_clst
_xtmp_data_c = _x.data['c'].tocsc()
_xtmp_data_mc = _x.data['mc'].tocsc()

gene_mch_c_clsts = pd.DataFrame(index=_x.gene)
gene_mch_mc_clsts = pd.DataFrame(index=_x.gene)
global_mean_mch = {}
global_mean_mcg = {}
for clst, df_sub in intg_clst[intg_clst['modality']=='snmcseq_gene'].groupby('joint_cluster_round2'):
    cells = df_sub['sample'].values 
    cells = np.intersect1d(cells, _x.cell)
    global_mean_mch[clst] = df_meta.loc[cells, 'CH_Rate'].mean()
    global_mean_mcg[clst] = df_meta.loc[cells, 'CG_Rate'].mean()
    cells_idx = snmcseq_utils.get_index_from_array(_x.cell, cells)
    
    gene_mch_c_clsts[clst] = _xtmp_data_c[:, cells_idx].sum(axis=1) 
    gene_mch_mc_clsts[clst] = _xtmp_data_mc[:, cells_idx].sum(axis=1) 
    
global_mean_mch = pd.Series(global_mean_mch)
global_mean_mcg = pd.Series(global_mean_mcg)

In [8]:
print(gene_mch_c_clsts.shape)
gene_mch_c_clsts.head()

(55487, 29)

,1-1,1-2,10-1,2-1,2-2,2-3,3-1,3-2,3-3,4-1,...,6-4,6-5,6-6,7-1,7-2,8-1,8-2,8-3,9-1,9-2
ENSMUSG00000102693,15227,12151,83,11752,8246,4269,12326,12523,404,12771,...,1917,995,26,2264,1261,679,768,93,752,570
ENSMUSG00000064842,1516,1364,17,1416,1030,488,1489,1418,36,1614,...,97,31,24,292,103,37,110,14,78,34
ENSMUSG00000051951,7398389,5484701,99827,5892939,3976722,2006922,6181207,5877258,189340,6471518,...,733454,526439,46630,1278306,617767,278509,360425,27817,322282,369225
ENSMUSG00000102851,8276,6231,197,7739,5244,2383,8310,7561,220,8428,...,827,605,22,2054,1069,268,607,0,494,425
ENSMUSG00000103377,54986,38388,725,39974,26557,13327,43136,41786,1572,46578,...,4539,4283,405,9091,4988,2146,2372,101,2029,2841

In [9]:
print(gene_mch_mc_clsts.shape)
gene_mch_mc_clsts.head()

(55487, 29)

,1-1,1-2,10-1,2-1,2-2,2-3,3-1,3-2,3-3,4-1,...,6-4,6-5,6-6,7-1,7-2,8-1,8-2,8-3,9-1,9-2
ENSMUSG00000102693,360,462,1,279,232,199,330,459,8,442,...,48,39,2,77,48,25,39,5,51,40
ENSMUSG00000064842,57,53,0,55,52,48,44,84,3,91,...,2,1,1,12,5,1,6,0,14,4
ENSMUSG00000051951,97981,67057,1238,69857,52921,42341,86987,87690,3481,111430,...,10823,13022,521,22337,9014,2857,4823,638,10377,10049
ENSMUSG00000102851,128,94,4,121,78,67,118,126,4,176,...,11,25,1,27,19,2,7,0,13,16
ENSMUSG00000103377,780,489,6,540,445,330,726,800,38,1083,...,51,106,0,371,188,24,33,2,51,114

In [12]:
f = '/cndd2/fangming/scf_enhancers/enhancer_round2_191211/results/gene_cluster_ch.tsv'
gene_mch_c_clsts.to_csv(f, sep="\t", index=True, header=True)

f = '/cndd2/fangming/scf_enhancers/enhancer_round2_191211/results/gene_cluster_mch.tsv'
gene_mch_mc_clsts.to_csv(f, sep="\t", index=True, header=True)

In [13]:
import pickle as pkl

f = '/cndd2/fangming/scf_enhancers/enhancer_round2_191211/results/cluster_global_mch.pkl'
with open(f, 'wb') as fh:
    pkl.dump(global_mean_mch, fh)
    
f = '/cndd2/fangming/scf_enhancers/enhancer_round2_191211/results/cluster_global_mcg.pkl'
with open(f, 'wb') as fh:
    pkl.dump(global_mean_mcg, fh)

In [ ]:
    
# # remove duplicated rows
# gene_mch_clsts = gene_mch_clsts.loc[~gene_mch_clsts.index.duplicated()]
# # remove Nan
# gene_mch_clsts = gene_mch_clsts.dropna(axis=1)

print(gene_mch_c_clsts.shape) # gene and sample
print(gene_mch_mc_clsts.shape) # gene and sample
gene_mch_c_clsts.head()

# remove low coverage genes
# remove low coverage clusters
_cov_mat = (gene_mch_c_clsts >= 20)
clst_cond = (_cov_mat.sum(axis=0) > 1000) # more than 1000 genes are covered in that cell type
print(clst_cond.sum())
gene_cond = (_cov_mat.sum(axis=1) > 3) # more than 3 clusters are covered the gene
print(gene_cond.sum())
gene_mch_c_clsts = gene_mch_c_clsts.loc[gene_cond, clst_cond]
gene_mch_mc_clsts = gene_mch_mc_clsts.loc[gene_cond, clst_cond]
print(gene_mch_c_clsts.shape)
print(gene_mch_mc_clsts.shape)

# get mcc
base_call_cutoff = 20
gene_mch_clsts = snmcseq_utils.get_mcc_lite_v2(gene_mch_c_clsts, gene_mch_mc_clsts, base_call_cutoff=base_call_cutoff)
gene_mch_clsts = gene_mch_clsts.divide(global_mean_mch.loc[gene_mch_clsts.columns.values], axis=1)

del gene_mch_c_clsts, gene_mch_mc_clsts
print(gene_mch_clsts.shape)
gene_mch_clsts.head()