In [1]:
import sys
sys.path.insert(0, '/cndd/fangming/CEMBA/snmcseq_dev')

from __init__ import *
from __init__jupyterlab import *

import snmcseq_utils

In [2]:
import sqlalchemy as sa
from sqlalchemy import update
from sqlalchemy.dialects.mysql import INTEGER
from sqlalchemy.dialects.mysql import SMALLINT
from collections import OrderedDict
from itertools import product 

from CEMBA_update_mysql import insert_into
from CEMBA_update_mysql import insert_into_worker
from CEMBA_update_mysql import gene_id_to_table_name 
from CEMBA_update_mysql import connect_sql

In [3]:
# output 
# cell_id (int11), tsne_x_RNA, tsne_y_RNA, cluster_RNA (int), annotation_RNA (varchar 20)
# cell_id (int11), tsne_x_ATAC, tsne_y_ATAC, cluster_ATAC (int), annotation_ATAC (varchar 20)
# cell_id (int11), tsne_x_mCH_ndim2_perp20, ..., tsne_y_mCH_ndim2_perp20, cluster_mCH_lv_npc50_k5, annotation_mCH_lv_npc40_k5 (varchar 20)

# An engine connects to a mysql database
database = 'CEMBA'
engine_mc = sa.create_engine('mysql+pymysql://f7xie:3405040212@brainome/{}'.format(database))
database = 'CEMBA_ATAC'
engine_atac = sa.create_engine('mysql+pymysql://f7xie:3405040212@brainome/{}'.format(database))
database = 'CEMBA_RNA'
engine_rna = sa.create_engine('mysql+pymysql://f7xie:3405040212@brainome/{}'.format(database))

### read in integrated cluster

In [4]:
dirc = '/cndd/fangming/CEMBA/data/MOp_all/results_final/'
with snmcseq_utils.cd(dirc):
    f = 'miniatlas_fig4_scf_clusterings.tsv'
    df = pd.read_csv(f, sep='\t')
    f2 = 'miniatlas_fig4_scf_annotation_round2.tsv'
    df2 = pd.read_csv(f2, sep='\t')
    f3 = 'miniatlas_fig4_scf_annotation_round3.tsv'
    df3 = pd.read_csv(f3, sep='\t')
    print(df.shape, df2.shape, df3.shape)

(408885, 11) (29, 3) (56, 3)

/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,sample,joint_embedding_x,joint_embedding_y,modality,modality_name,single_modality_cluster,single_modality_annot,joint_cluster_round1,joint_cluster_round2,joint_cluster_round3,joint_cluster_round4
0,snmcseq_gene_2C_M_0,0.471629,-3.134735,snmcseq_gene,DNA methylation,L4-IT-Rorb_Rorb-Tenm2,L4-IT-Rorb_Rorb-Tenm2,1,1-1,1-1-1,1-1-1-1
1,snmcseq_gene_2C_M_1,-2.414973,-12.098081,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4,4-2,4-2-1,4-2-1-1
2,snmcseq_gene_2C_M_100,-1.446751,-12.051894,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4,4-1,4-1-1,4-1-1-1
3,snmcseq_gene_2C_M_1000,-1.901734,-13.660591,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4,4-2,4-2-1,4-2-1-1
4,snmcseq_gene_2C_M_1001,-0.981086,-11.936621,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4,4-1,4-1-1,4-1-1-1

In [6]:
df2.head()

  cluster_id_iterative annotation_curated    color
0                  1-1        L4/5 IT (1)  #3CBC78
1                  1-2      L4/5 IT (2-3)  #3CBC45
2                  2-1         L6 CT Cpa6  #338C5E
3                  2-2  L6 CT Cpa6_Gpr139  #338C5E
4                  2-3        L6 CT Nxph2  #3E766C

In [7]:
df3.head()

  cluster_id_iterative annotation_curated    color
0                1-1-1        L4/5 IT (1)  #3CBC78
1                1-2-1        L4/5 IT (2)  #3CBC45
2                1-2-2        L4/5 IT (3)  #5DDB65
3                2-1-1     L6 CT Cpa6 (1)  #338C5E
4                2-1-2     L6 CT Cpa6 (2)  #338C5E

In [8]:
df_info = pd.merge(df, df2.set_index('cluster_id_iterative')
                .rename(columns={'annotation_curated': 'annot_round2'})
                .drop('color', axis=1), 
                 left_on='joint_cluster_round2', right_index=True)

df_info = pd.merge(df_info, df3.set_index('cluster_id_iterative')
                .rename(columns={'annotation_curated': 'annot_round3'})
                .drop('color', axis=1), 
                 left_on='joint_cluster_round3', right_index=True)

print(df_info.shape)
df_info.head()

(408885, 13)

,sample,joint_embedding_x,joint_embedding_y,modality,modality_name,single_modality_cluster,single_modality_annot,joint_cluster_round1,joint_cluster_round2,joint_cluster_round3,joint_cluster_round4,annot_round2,annot_round3
0,snmcseq_gene_2C_M_0,0.471629,-3.134735,snmcseq_gene,DNA methylation,L4-IT-Rorb_Rorb-Tenm2,L4-IT-Rorb_Rorb-Tenm2,1,1-1,1-1-1,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
15,snmcseq_gene_2C_M_1011,-0.091199,-2.604921,snmcseq_gene,DNA methylation,L4-IT-Rorb_Rorb-Tenm2,L4-IT-Rorb_Rorb-Tenm2,1,1-1,1-1-1,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
16,snmcseq_gene_2C_M_1012,-0.037576,-8.106225,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,1,1-1,1-1-1,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
27,snmcseq_gene_2C_M_1022,0.906631,-0.785923,snmcseq_gene,DNA methylation,L4-IT-Rorb_Rorb-Cpne4,L4-IT-Rorb_Rorb-Cpne4,1,1-1,1-1-1,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
29,snmcseq_gene_2C_M_1024,1.627603,-1.945875,snmcseq_gene,DNA methylation,L4-IT-Rorb_Rorb-Cpne4,L4-IT-Rorb_Rorb-Cpne4,1,1-1,1-1-1,1-1-1-1,L4/5 IT (1),L4/5 IT (1)

In [9]:

inds, labels = pd.factorize(df_info['joint_cluster_round2'])
df_info['joint_cluster_round2'] = inds 
print(labels)
inds, labels = pd.factorize(df_info['joint_cluster_round3'])
df_info['joint_cluster_round3'] = inds 
print(labels)

Index(['1-1', '4-2', '4-1', '6-2', '1-2', '6-4', '3-1', '3-2', '5-3', '2-1',
       '7-2', '7-1', '9-2', '6-5', '6-1', '5-4', '5-2', '5-1', '2-2', '2-3',
       '6-6', '6-3', '3-3', '9-1', '10-1', '5-5', '8-2', '8-3', '8-1'],
      dtype='object')
Index(['1-1-1', '4-2-1', '4-2-2', '4-2-3', '4-1-1', '4-1-2', '6-2-1', '1-2-1',
       '1-2-2', '6-4-2', '6-4-1', '3-1-2', '3-1-1', '3-2-1', '3-2-2', '5-3-2',
       '5-3-1', '2-1-2', '2-1-1', '7-2-2', '7-2-1', '7-1-2', '7-1-1', '9-2-2',
       '9-2-1', '6-5-1', '6-5-2', '6-5-3', '6-1-2', '6-1-1', '5-4-1', '5-2-1',
       '5-2-2', '5-2-3', '5-1-2', '5-1-1', '2-2-1', '2-2-2', '2-2-3', '2-2-4',
       '2-3-1', '2-3-2', '2-3-3', '6-6-1', '6-3-1', '6-3-2', '6-3-3', '3-3-1',
       '9-1-1', '10-1-1', '5-5-1', '8-2-1', '8-3-1', '8-3-2', '8-1-1',
       '8-1-2'],
      dtype='object')

### deal with cell name and cell ids

In [10]:
df_info.groupby('modality').first()

,sample,joint_embedding_x,joint_embedding_y,modality_name,single_modality_cluster,single_modality_annot,joint_cluster_round1,joint_cluster_round2,joint_cluster_round3,joint_cluster_round4,annot_round2,annot_round3
modality,,,,,,,,,,,,
10x_cells_v2,10x_cells_v2_AAAGTAGTCTTGAGAC-1L8TX_171026_01_F03,5.896731,-6.282803,10X V2 cells,56,L5 IT Rspo2_1,1,0,0,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
10x_cells_v3,10x_cells_v3_AAACCCAAGCTTCATG-1L8TX_181211_01_G12,0.820954,-2.410931,10X V3 cells,42,L5 IT Tcap_2,1,0,0,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
10x_nuclei_v3,10x_nuclei_v3_AAACCCAGTATAGCTC-1L8TX_181211_01...,1.480395,-2.217398,10X V3 nuclei,34,L5 IT Rspo1_3,1,0,0,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
10x_nuclei_v3_macosko,10x_nuclei_v3_macosko_pBICCNsMMrMOpRMiM003d190...,0.496159,-7.632877,10X V3 nuclei Macosko,48,L2/3 IT_1,1,0,0,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
smarter_cells,smarter_cells_LS-15395_S54_E1-50,3.545095,-6.414153,SMART cells,33,L5 IT Rspo1,1,0,0,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
smarter_nuclei,smarter_nuclei_SM-GE64H_S149_E1-50,1.396706,-6.178518,SMART nuclei,24,L2/3 IT,1,0,0,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
snatac_gene,snatac_gene_CEMBA171206_3C_AGCGATAGAACCAGGTATT...,5.271253,-5.235372,ATAC Seq,L4,L4,1,0,0,1-1-1-1,L4/5 IT (1),L4/5 IT (1)
snmcseq_gene,snmcseq_gene_2C_M_0,0.471629,-3.134735,DNA methylation,L4-IT-Rorb_Rorb-Tenm2,L4-IT-Rorb_Rorb-Tenm2,1,0,0,1-1-1-1,L4/5 IT (1),L4/5 IT (1)

In [11]:
df_info.groupby('modality').size()

modality
10x_cells_v2             121440
10x_cells_v3              69727
10x_nuclei_v3             39706
10x_nuclei_v3_macosko    101647
smarter_cells              6244
smarter_nuclei             5911
snatac_gene               54844
snmcseq_gene               9366
dtype: int64

#### mc

In [12]:
f = '/cndd2/fangming/projects/miniatlas/hanqing/MOp.snmC-seq.AnalysisResult.csv'
map_name = pd.read_csv(f)[['index', 'FullCellID']]
map_name['index'] = 'snmcseq_gene_' + map_name['index']
map_name['FullCellID'] = map_name['FullCellID'] + '_indexed'
print(map_name.shape)
map_name.head()

(9876, 2)

                    index                                         FullCellID
0     snmcseq_gene_2C_M_0  180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_1_CE...
1     snmcseq_gene_2C_M_1  180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_1_CE...
2    snmcseq_gene_2C_M_10  180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_1_CE...
3   snmcseq_gene_2C_M_100  180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_1_CE...
4  snmcseq_gene_2C_M_1000  180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_3_CE...

In [13]:
# get cells
sql = """SELECT * FROM cells"""
df_cells = pd.read_sql(sql, engine_mc) #[['cell_id', 'cell_name']]
print(df_cells.shape)
df_cells.head()

(115833, 20)

,cell_id,cell_name,dataset,NeuN,cell_type,global_mCH,global_mCG,global_mCA,global_mCCC,estimated_mCH,estimated_mCG,percent_genome_covered,total_reads,mapped_reads,mapping_rate,nonclonal_reads,percent_nonclonal_rate,filtered_reads,filtered_rate,lambda_mC
0,1,171213_CEMBA_mm_P56_P63_3C_MOp_CEMBA171206_3C_...,CEMBA_3C_171206,+,None,0.02756,0.76195,0.050792,0.00789,0.01983,0.76006,3.36,2279422.0,1443850.0,0.633,941772.0,0.652,819822.0,0.871,0.00
1,2,171213_CEMBA_mm_P56_P63_3C_MOp_CEMBA171206_3C_...,CEMBA_3C_171206,+,None,0.02803,0.76572,0.052219,0.00773,0.02046,0.76389,7.17,4252158.0,2826725.0,0.665,2184223.0,0.773,1747325.0,0.800,NaN
2,3,171213_CEMBA_mm_P56_P63_3C_MOp_CEMBA171206_3C_...,CEMBA_3C_171206,+,None,0.03182,0.77589,0.059367,0.00856,0.02346,0.77396,6.77,3649262.0,2447983.0,0.671,1887885.0,0.771,1629253.0,0.863,0.75
3,4,171213_CEMBA_mm_P56_P63_3C_MOp_CEMBA171206_3C_...,CEMBA_3C_171206,+,None,0.02875,0.77278,0.053225,0.00818,0.02074,0.77091,8.04,4386850.0,2943685.0,0.671,2301085.0,0.782,1959547.0,0.852,NaN
4,5,171213_CEMBA_mm_P56_P63_3C_MOp_CEMBA171206_3C_...,CEMBA_3C_171206,+,None,0.02690,0.76714,0.049690,0.00759,0.01946,0.76536,6.59,3861170.0,2568841.0,0.665,1870749.0,0.728,1594420.0,0.852,NaN

In [14]:
df_link_mc = (pd.merge(map_name, df_cells[['cell_id', 'cell_name']], left_on='FullCellID', right_on='cell_name')
                        .rename(columns={'index': 'sample', 
                                    })[['sample', 'cell_id']]
             )
    
print(df_link_mc.shape)
df_link_mc.head()

(9872, 2)

                   sample  cell_id
0     snmcseq_gene_2C_M_0    47222
1     snmcseq_gene_2C_M_1    47223
2    snmcseq_gene_2C_M_10    47232
3   snmcseq_gene_2C_M_100    47322
4  snmcseq_gene_2C_M_1000    48222

In [15]:
mc_info = pd.merge(df_info[df_info['modality']=='snmcseq_gene'], 
                     df_link_mc, 
                     on='sample')[['cell_id', 'sample', 
                                   'joint_embedding_x', 'joint_embedding_y', 
                                   'joint_cluster_round2', 'annot_round2', 
                                   'joint_cluster_round3', 'annot_round3',
                                  ]]
print(mc_info.shape)
mc_info.head()

(9364, 8)

,cell_id,sample,joint_embedding_x,joint_embedding_y,joint_cluster_round2,annot_round2,joint_cluster_round3,annot_round3
0,47222,snmcseq_gene_2C_M_0,0.471629,-3.134735,0,L4/5 IT (1),0,L4/5 IT (1)
1,48233,snmcseq_gene_2C_M_1011,-0.091199,-2.604921,0,L4/5 IT (1),0,L4/5 IT (1)
2,48234,snmcseq_gene_2C_M_1012,-0.037576,-8.106225,0,L4/5 IT (1),0,L4/5 IT (1)
3,48244,snmcseq_gene_2C_M_1022,0.906631,-0.785923,0,L4/5 IT (1),0,L4/5 IT (1)
4,48246,snmcseq_gene_2C_M_1024,1.627603,-1.945875,0,L4/5 IT (1),0,L4/5 IT (1)

#### atac

In [16]:
# get cells
sql = """SELECT * FROM cells"""
df_cells = pd.read_sql(sql, engine_atac) #[['cell_id', 'cell_name']]
print(df_cells.shape)
df_cells.head()

(666908, 3)

   cell_id                                         cell_name          dataset
0        1  AGCGATAGAACCAGGTAACGAACGCAGGACGT_CEMBA_1B_180118  CEMBA_1B_180118
1        2  AGCGATAGAACCAGGTAACGAACGGGCTCTGA_CEMBA_1B_180118  CEMBA_1B_180118
2        3  AGCGATAGAACCAGGTAAGAGATGCAGGACGT_CEMBA_1B_180118  CEMBA_1B_180118
3        4  AGCGATAGAACCAGGTATAGCCTTCAGGACGT_CEMBA_1B_180118  CEMBA_1B_180118
4        5  AGCGATAGAACCAGGTCGAATTCCCAGGACGT_CEMBA_1B_180118  CEMBA_1B_180118

In [17]:
def map_atac_name(name):
    _seq, _cemba, _slice, _date = name.split('_')
    new_name = 'snatac_gene_CEMBA{}_{}_{}'.format(_date, _slice, _seq)
    return new_name

In [18]:
df_cells['sample'] = df_cells['cell_name'].apply(map_atac_name)
print(df_cells.shape)
df_cells.head()

(666908, 4)

,cell_id,cell_name,dataset,sample
0,1,AGCGATAGAACCAGGTAACGAACGCAGGACGT_CEMBA_1B_180118,CEMBA_1B_180118,snatac_gene_CEMBA180118_1B_AGCGATAGAACCAGGTAAC...
1,2,AGCGATAGAACCAGGTAACGAACGGGCTCTGA_CEMBA_1B_180118,CEMBA_1B_180118,snatac_gene_CEMBA180118_1B_AGCGATAGAACCAGGTAAC...
2,3,AGCGATAGAACCAGGTAAGAGATGCAGGACGT_CEMBA_1B_180118,CEMBA_1B_180118,snatac_gene_CEMBA180118_1B_AGCGATAGAACCAGGTAAG...
3,4,AGCGATAGAACCAGGTATAGCCTTCAGGACGT_CEMBA_1B_180118,CEMBA_1B_180118,snatac_gene_CEMBA180118_1B_AGCGATAGAACCAGGTATA...
4,5,AGCGATAGAACCAGGTCGAATTCCCAGGACGT_CEMBA_1B_180118,CEMBA_1B_180118,snatac_gene_CEMBA180118_1B_AGCGATAGAACCAGGTCGA...

In [19]:
atac_info = pd.merge(df_info[df_info['modality']=='snatac_gene'], df_cells[['cell_id', 'sample']], 
                     on='sample')[['cell_id', 'sample', 
                                   'joint_embedding_x', 'joint_embedding_y', 
                                   'joint_cluster_round2', 'annot_round2', 
                                   'joint_cluster_round3', 'annot_round3',
                                  ]]
    
print(atac_info.shape)
atac_info.head()

(40674, 8)

,cell_id,sample,joint_embedding_x,joint_embedding_y,joint_cluster_round2,annot_round2,joint_cluster_round3,annot_round3
0,82479,snatac_gene_CEMBA171206_3C_AGCGATAGAACCAGGTATT...,5.271253,-5.235372,0,L4/5 IT (1),0,L4/5 IT (1)
1,82486,snatac_gene_CEMBA171206_3C_AGCGATAGAAGAGGCAACT...,1.949641,-5.505484,0,L4/5 IT (1),0,L4/5 IT (1)
2,82493,snatac_gene_CEMBA171206_3C_AGCGATAGAAGAGGCAGTA...,2.465726,-4.176560,0,L4/5 IT (1),0,L4/5 IT (1)
3,82503,snatac_gene_CEMBA171206_3C_AGCGATAGAAGCAACGGGT...,3.266076,-7.583402,0,L4/5 IT (1),0,L4/5 IT (1)
4,82508,snatac_gene_CEMBA171206_3C_AGCGATAGAAGCAACGTTA...,0.558153,-4.245329,0,L4/5 IT (1),0,L4/5 IT (1)

#### rna

In [20]:
# get cells
sql = """SELECT * FROM cells"""
df_cells = pd.read_sql(sql, engine_rna) #[['cell_id', 'cell_name']]
print(df_cells.shape)
df_cells.head()

(6848, 3)

   cell_id            cell_name                  dataset
0        1  SM-GE653_S113_E1-50  Zeng_SMARTer_nuclei_MOp
1        2  SM-GE653_S114_E1-50  Zeng_SMARTer_nuclei_MOp
2        3  SM-GE653_S115_E1-50  Zeng_SMARTer_nuclei_MOp
3        4  SM-GE653_S116_E1-50  Zeng_SMARTer_nuclei_MOp
4        5  SM-GE653_S117_E1-50  Zeng_SMARTer_nuclei_MOp

In [21]:
def map_rna_name(name):
    new_name = 'smarter_nuclei_{}'.format(name)
    return new_name

In [22]:
df_cells['sample'] = df_cells['cell_name'].apply(map_rna_name)
print(df_cells.shape)
df_cells.head()

(6848, 4)

,cell_id,cell_name,dataset,sample
0,1,SM-GE653_S113_E1-50,Zeng_SMARTer_nuclei_MOp,smarter_nuclei_SM-GE653_S113_E1-50
1,2,SM-GE653_S114_E1-50,Zeng_SMARTer_nuclei_MOp,smarter_nuclei_SM-GE653_S114_E1-50
2,3,SM-GE653_S115_E1-50,Zeng_SMARTer_nuclei_MOp,smarter_nuclei_SM-GE653_S115_E1-50
3,4,SM-GE653_S116_E1-50,Zeng_SMARTer_nuclei_MOp,smarter_nuclei_SM-GE653_S116_E1-50
4,5,SM-GE653_S117_E1-50,Zeng_SMARTer_nuclei_MOp,smarter_nuclei_SM-GE653_S117_E1-50

In [23]:
rna_info = pd.merge(df_info[df_info['modality']=='smarter_nuclei'], df_cells[['cell_id', 'sample']], 
                     on='sample')[['cell_id', 'sample', 
                                   'joint_embedding_x', 'joint_embedding_y', 
                                   'joint_cluster_round2', 'annot_round2', 
                                   'joint_cluster_round3', 'annot_round3',
                                  ]]
    
print(rna_info.shape)
rna_info.head()

(5911, 8)

,cell_id,sample,joint_embedding_x,joint_embedding_y,joint_cluster_round2,annot_round2,joint_cluster_round3,annot_round3
0,1021,smarter_nuclei_SM-GE64H_S149_E1-50,1.396706,-6.178518,0,L4/5 IT (1),0,L4/5 IT (1)
1,1410,smarter_nuclei_SM-GE64J_S186_E1-50,0.284897,-8.198868,0,L4/5 IT (1),0,L4/5 IT (1)
2,2075,smarter_nuclei_SM-GE648_S003_E1-50,-0.184187,-8.553052,0,L4/5 IT (1),0,L4/5 IT (1)
3,2137,smarter_nuclei_SM-GE648_S073_E1-50,1.538195,-5.910365,0,L4/5 IT (1),0,L4/5 IT (1)
4,2873,smarter_nuclei_SM-GE64E_S105_E1-50,4.603327,-5.716697,0,L4/5 IT (1),0,L4/5 IT (1)

### Prep upload format

ensembles
- ensemble_id (int11), ensemble_name (varchar 255), public_access, datasets (,), description, multimodal (T/F), snmc_ensemble_id (int11)
- ensemble_id (int11), ensemble_name (varchar 255), public_access, datasets (,), description, multimodal (T/F), snmc_ensemble_id (int11)
- ensemble_id (int11), ensemble_name (varchar 255), public_access, datasets (,), description, multimodal (T/F)

Ens100
- cell_id (int11), tsne_x_RNA, tsne_y_RNA, cluster_RNA (int), annotation_RNA (varchar 20)
- cell_id (int11), tsne_x_ATAC, tsne_y_ATAC, cluster_ATAC (int), annotation_ATAC (varchar 20)
- cell_id (int11), tsne_x_mCH_ndim2_perp20, ..., tsne_y_mCH_ndim2_perp20, cluster_mCH_lv_npc50_k5, annotation_mCH_lv_npc40_k5 (varchar 20)

#### mc

In [24]:
mc_info.head()

,cell_id,sample,joint_embedding_x,joint_embedding_y,joint_cluster_round2,annot_round2,joint_cluster_round3,annot_round3
0,47222,snmcseq_gene_2C_M_0,0.471629,-3.134735,0,L4/5 IT (1),0,L4/5 IT (1)
1,48233,snmcseq_gene_2C_M_1011,-0.091199,-2.604921,0,L4/5 IT (1),0,L4/5 IT (1)
2,48234,snmcseq_gene_2C_M_1012,-0.037576,-8.106225,0,L4/5 IT (1),0,L4/5 IT (1)
3,48244,snmcseq_gene_2C_M_1022,0.906631,-0.785923,0,L4/5 IT (1),0,L4/5 IT (1)
4,48246,snmcseq_gene_2C_M_1024,1.627603,-1.945875,0,L4/5 IT (1),0,L4/5 IT (1)

In [25]:
sql = "SELECT * FROM datasets"
df_datasets = pd.read_sql(sql, engine_mc)
print(df_datasets.shape)
df_datasets.head()

(134, 6)

            dataset date_online    brain_region target_region sex description
0  CEMBA_11B_190314  2019-09-12       VISp+VISI          None   M        None
1  CEMBA_11B_190325  2019-09-12       VISp+VISI          None   M        None
2  CEMBA_11E_190214  2019-09-14  vHPF (CA1-CA3)          None   M        None
3  CEMBA_11E_190305  2019-09-14  vHPF (CA1-CA3)          None   M        None
4  CEMBA_11F_190214  2019-09-14       vHPF (DG)          None   M        None

In [26]:
slices = mc_info['sample'].apply(lambda x: x.split('_')[2]).unique()
datasets = df_datasets.loc[df_datasets['dataset'].apply(lambda x: x.split('_')[1] in slices), 'dataset'].values
print(slices)
print(datasets)

['2C' '3C' '4B' '5D']
['CEMBA_2C_180409' 'CEMBA_2C_180410' 'CEMBA_3C_171206' 'CEMBA_3C_171207'
 'CEMBA_4B_171212' 'CEMBA_4B_171213' 'CEMBA_4B_180104' 'CEMBA_5D_180605'
 'CEMBA_5D_180612']

In [27]:
'tsne_x_mCHmCG_ndim2_perp20'
'tsne_y_mCHmCG_ndim2_perp20'
'cluster_mCHmCG_lv_npc50_k20'
'annotation_mCHmCG_lv_npc50_k20'

'annotation_mCHmCG_lv_npc50_k20'

In [ ]:
# Upload to ensembles table
ens = 'Ens218'
ens_name = 'MOp_MiniAtlas_SCF'
ens_datasets=list(datasets)
description = 'MOp Miniatlas integrated clusterings with SingleCellFusion'
multimodal = 'T'


table_name = 'ensembles'
ens_id = int(ens[len('Ens'):])
dict_list = [{'ensemble_id': ens_id, 
              'ensemble_name': ens_name, 
              'public_access': True, 
              'datasets': ','.join(ens_datasets), 
              'description': description, 
              'multimodal': 'T', 
             }]

print(dict_list)
insert_into_worker(engine_mc, table_name, dict_list, ignore=False)

In [28]:
df_ens = (mc_info #[['cell_id', 'joint_embedding_x', 'joint_embedding_y', 'annot_round3']]
                .rename(columns={
                    'joint_embedding_x': 'tsne_x_mCHmCG_ndim2_perp20', 
                    'joint_embedding_y': 'tsne_y_mCHmCG_ndim2_perp20', 
                    'joint_cluster_round2': 'cluster_mCHmCG_lv_npc50_k20',
                    'annot_round2': 'annotation_mCHmCG_lv_npc50_k20',
                    'joint_cluster_round3': 'cluster_mCHmCG_lv_npc50_k30',
                    'annot_round3': 'annotation_mCHmCG_lv_npc50_k30',
                    }).drop('sample', axis=1)
         )

df_ens.head()

,cell_id,tsne_x_mCHmCG_ndim2_perp20,tsne_y_mCHmCG_ndim2_perp20,cluster_mCHmCG_lv_npc50_k20,annotation_mCHmCG_lv_npc50_k20,cluster_mCHmCG_lv_npc50_k30,annotation_mCHmCG_lv_npc50_k30
0,47222,0.471629,-3.134735,0,L4/5 IT (1),0,L4/5 IT (1)
1,48233,-0.091199,-2.604921,0,L4/5 IT (1),0,L4/5 IT (1)
2,48234,-0.037576,-8.106225,0,L4/5 IT (1),0,L4/5 IT (1)
3,48244,0.906631,-0.785923,0,L4/5 IT (1),0,L4/5 IT (1)
4,48246,1.627603,-1.945875,0,L4/5 IT (1),0,L4/5 IT (1)

In [30]:
# Upload to Ens table

table_name = 'Ens218'
insert_into(engine_mc, table_name, df_ens, ignore=False, verbose=True)

/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8775")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8776")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8777")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8778")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8779")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8780")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8781")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8782")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8783")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8784")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8785")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8786")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8787")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8788")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8789")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8790")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8791")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8792")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8793")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8794")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8795")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8796")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8797")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8798")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8799")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8800")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8801")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8802")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8803")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8804")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8805")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8806")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8807")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8808")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8809")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8810")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8811")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8812")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8813")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8814")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8815")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8816")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8817")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8818")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8819")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8820")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8821")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8822")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8823")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8824")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8825")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8826")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8827")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8828")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8829")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8830")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8831")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8832")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8833")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8834")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8835")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8836")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8837")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_mCHmCG_lv_npc50_k30' at row 8838")
  result = self._query(query)

#### ATAC

In [ ]:
# Upload to ensembles table
ens = 'Ens218'
ens_name = 'MOp_MiniAtlas_SCF'
ens_datasets=list(datasets)
description = 'MOp Miniatlas integrated clusterings with SingleCellFusion'
multimodal = 'T'


table_name = 'ensembles'
ens_id = int(ens[len('Ens'):])
dict_list = [{'ensemble_id': ens_id, 
              'ensemble_name': ens_name, 
              'public_access': True, 
              'datasets': ','.join(ens_datasets), 
              'description': description, 
              'multimodal': 'T', 
              'snmc_ensemble_id': ens_id,
             }]

print(dict_list)
insert_into_worker(engine_atac, table_name, dict_list, ignore=False)

In [32]:
df_ens = (atac_info #[['cell_id', 'joint_embedding_x', 'joint_embedding_y', 'annot_round3']]
                .rename(columns={
                    'joint_embedding_x': 'tsne_x_ATAC', 
                    'joint_embedding_y': 'tsne_y_ATAC', 
#                     'joint_cluster_round2': 'cluster_ATAC',
#                     'annot_round2': 'annotation_ATAC',
                    'joint_cluster_round3': 'cluster_ATAC',
                    'annot_round3': 'annotation_ATAC',
                    }).drop('sample', axis=1)
         )[['cell_id', 'tsne_x_ATAC', 'tsne_y_ATAC', 'cluster_ATAC', 'annotation_ATAC']]

df_ens.head()

   cell_id  tsne_x_ATAC  tsne_y_ATAC  cluster_ATAC annotation_ATAC
0    82479     5.271253    -5.235372             0     L4/5 IT (1)
1    82486     1.949641    -5.505484             0     L4/5 IT (1)
2    82493     2.465726    -4.176560             0     L4/5 IT (1)
3    82503     3.266076    -7.583402             0     L4/5 IT (1)
4    82508     0.558153    -4.245329             0     L4/5 IT (1)

In [33]:
# Upload to Ens table

table_name = 'Ens218'
insert_into(engine_atac, table_name, df_ens, ignore=False, verbose=True)

/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6011")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6012")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6013")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6014")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6015")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6016")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6017")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6018")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6019")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6020")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6021")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6022")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6023")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6024")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6025")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6026")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6027")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6028")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6029")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6030")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6031")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6032")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6033")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6034")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6035")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6036")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6037")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6038")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6039")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6040")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6041")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6042")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6043")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6044")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6045")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6046")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6047")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6048")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6049")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6050")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6051")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6052")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6053")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6054")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6055")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6056")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6057")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6058")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6059")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6060")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6061")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6062")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6063")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6064")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6065")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6066")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6067")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6068")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6069")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6070")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6071")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6072")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6073")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_ATAC' at row 6074")
  result = self._query(query)

#### RNA

In [ ]:
# Upload to ensembles table
ens = 'Ens218'
ens_name = 'MOp_MiniAtlas_SCF'
ens_datasets=list(datasets)
description = 'MOp Miniatlas integrated clusterings with SingleCellFusion'
multimodal = 'T'


table_name = 'ensembles'
ens_id = int(ens[len('Ens'):])
dict_list = [{'ensemble_id': ens_id, 
              'ensemble_name': ens_name, 
              'public_access': True, 
              'datasets': ','.join(ens_datasets), 
              'description': description, 
              'multimodal': 'T', 
              'snmc_ensemble_id': ens_id,
             }]

print(dict_list)
insert_into_worker(engine_rna, table_name, dict_list, ignore=False)

In [34]:
df_ens = (rna_info #[['cell_id', 'joint_embedding_x', 'joint_embedding_y', 'annot_round3']]
                .rename(columns={
                    'joint_embedding_x': 'tsne_x_RNA', 
                    'joint_embedding_y': 'tsne_y_RNA', 
#                     'joint_cluster_round2': 'cluster_ATAC',
#                     'annot_round2': 'annotation_ATAC',
                    'joint_cluster_round3': 'cluster_RNA',
                    'annot_round3': 'annotation_RNA',
                    }).drop('sample', axis=1)
         )[['cell_id', 'tsne_x_RNA', 'tsne_y_RNA', 'cluster_RNA', 'annotation_RNA']]

df_ens.head()

   cell_id  tsne_x_RNA  tsne_y_RNA  cluster_RNA annotation_RNA
0     1021    1.396706   -6.178518            0    L4/5 IT (1)
1     1410    0.284897   -8.198868            0    L4/5 IT (1)
2     2075   -0.184187   -8.553052            0    L4/5 IT (1)
3     2137    1.538195   -5.910365            0    L4/5 IT (1)
4     2873    4.603327   -5.716697            0    L4/5 IT (1)

In [35]:
table_name = 'Ens218'
insert_into(engine_rna, table_name, df_ens, ignore=False, verbose=True)

/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5442")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5443")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5444")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5445")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5446")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5447")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5448")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5449")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5450")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5451")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5452")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5453")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5454")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5455")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5456")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5457")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5458")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5459")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5460")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5461")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5462")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5463")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5464")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5465")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5466")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5467")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5468")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5469")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5470")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5471")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5472")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5473")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5474")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5475")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5476")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5477")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5478")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5479")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5480")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5481")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5482")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5483")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5484")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5485")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5486")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5487")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5488")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5489")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5490")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5491")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5492")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5493")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5494")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5495")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5496")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5497")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5498")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5499")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5500")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5501")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5502")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5503")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5504")
  result = self._query(query)
/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'annotation_RNA' at row 5505")
  result = self._query(query)