In [3]:
import sys
sys.path.insert(0, '/cndd/fangming/CEMBA/snmcseq_dev')
from __init__ import *
from __init__jupyterlab import *

In [4]:
config_dir = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/' 
config_f = 'config_scf_8mods_data_freeze_190917.py' 

sys.path.insert(0, config_dir)
exec("from {} import *".format(config_f.split('.')[0]))
second_round_summary_results = os.path.join(outdir, 'intg_summary-{}-2-round-clustering.tsv'.format(name))
output_summary_results = os.path.join(outdir, 'intg_summary-{}-3-round-clustering.tsv'.format(name))
print(output_summary_results)

/cndd/fangming/CEMBA/data/MOp_all/results/intg_summary-mop_8mods_0915_k30-3-round-clustering.tsv

In [5]:
df_info = pd.read_csv(output_summary_results, sep='\t')
print(df_info.shape)
df_info.head()

(408885, 17)

/cndd/fangming/venvs/conda_dobro/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,sample,cluster_joint_r0.1,cluster_joint_r1,cluster_joint_r2,cluster_joint_r4,tsne_x_joint,tsne_y_joint,modality,modality_name,cluster,annot,cluster_round_2,cluster_round_2_anno,cluster_round_2_color,cluster_round_3,cluster_round_3_anno,cluster_round_3_color
0,snmcseq_gene_2C_M_0,1,11,10,23,0.471629,-3.134735,snmcseq_gene,DNA methylation,L4-IT-Rorb_Rorb-Tenm2,L4-IT-Rorb_Rorb-Tenm2,1-1,L5 IT Rspo1_1,#3CBC78,1-1-1,L5 IT Rspo1_1,#3CBC78
1,snmcseq_gene_2C_M_1,4,1,8,4,-2.414973,-12.098081,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-2,L2/3 IT,#6F836B,4-2-1,L2/3 IT,#6F836B
2,snmcseq_gene_2C_M_100,4,1,8,49,-1.446751,-12.051894,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-1,L2/3 IT,#6F836B,4-1-1,L2/3 IT,#6F836B
3,snmcseq_gene_2C_M_1000,4,1,8,49,-1.901734,-13.660591,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-2,L2/3 IT,#6F836B,4-2-1,L2/3 IT,#6F836B
4,snmcseq_gene_2C_M_1001,4,1,8,10,-0.981086,-11.936621,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-1,L2/3 IT,#6F836B,4-1-1,L2/3 IT,#6F836B

### mC level

In [5]:

# df_info = df_info[df_info['modality']=='snatac_gene']
# df_info['C1'] = df_info['sample'].apply(lambda x: x[len('snatac_gene_'): len('snatac_gene_CEMBA171206_3C')])
# df_info['C2'] = df_info['sample'].apply(lambda x: x[len('snatac_gene_CEMBA171206_3C_'):])
# df_info = df_info[['C1', 'C2', 'cluster_round_3']].rename(columns={'C1': 'sample', 
#                                                                      'C2': 'barcode', 
#                                                                     })

# df_info.to_csv('/cndd/fangming/for_yang/atac_mop_clusters.tsv', sep='\t', na_rep='NA', header=True, index=False)

In [6]:
# df_info = df_info.loc[df_info['modality']=='snmcseq_gene', ['sample', 'cluster_round_3']]

# # df_info['C1'] = df_info['sample'].apply(lambda x: x[len('snatac_gene_'): len('snatac_gene_CEMBA171206_3C')])
# # df_info['C2'] = df_info['sample'].apply(lambda x: x[len('snatac_gene_CEMBA171206_3C_'):])
# # df_info = df_info[['C1', 'C2', 'cluster_round_3']].rename(columns={'C1': 'sample', 
# #                                                                      'C2': 'barcode', 
# #                                                                     })

# print(df_info.shape)
# df_info.to_csv('/cndd/fangming/for_hanqing/mc_mop_clusters.tsv', sep='\t', na_rep='NA', header=True, index=False)

# organize it

In [6]:
output_summary_results2 = os.path.join(outdir, 'intg_summary-{}-4-round-clustering.tsv'.format(name))
df_info2 = pd.read_csv(output_summary_results2, sep='\t')
print(df_info2.shape)
df_info2.head()

(408885, 19)

/cndd/fangming/venvs/conda_dobro/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,sample,cluster_joint_r0.1,cluster_joint_r1,cluster_joint_r2,cluster_joint_r4,tsne_x_joint,tsne_y_joint,modality,modality_name,cluster,annot,cluster_round_2,cluster_round_2_anno,cluster_round_3,cluster_round_3_anno,cluster_round_3_color,cluster_round_4,cluster_round_4_anno,cluster_round_4_color
0,snmcseq_gene_2C_M_0,1,11,10,23,0.471629,-3.134735,snmcseq_gene,DNA methylation,L4-IT-Rorb_Rorb-Tenm2,L4-IT-Rorb_Rorb-Tenm2,1-1,L5 IT Rspo1_1,1-1-1,L5 IT Rspo1_1,#3CBC78,1-1-1-1,L5 IT Rspo1_1,#3CBC78
1,snmcseq_gene_2C_M_1,4,1,8,4,-2.414973,-12.098081,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-2,L2/3 IT,4-2-1,L2/3 IT,#6F836B,4-2-1-1,L2/3 IT,#6F836B
2,snmcseq_gene_2C_M_100,4,1,8,49,-1.446751,-12.051894,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-1,L2/3 IT,4-1-1,L2/3 IT,#6F836B,4-1-1-1,L2/3 IT,#6F836B
3,snmcseq_gene_2C_M_1000,4,1,8,49,-1.901734,-13.660591,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-2,L2/3 IT,4-2-1,L2/3 IT,#6F836B,4-2-1-1,L2/3 IT,#6F836B
4,snmcseq_gene_2C_M_1001,4,1,8,10,-0.981086,-11.936621,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-1,L2/3 IT,4-1-1,L2/3 IT,#6F836B,4-1-1-1,L2/3 IT,#6F836B

In [7]:
df_info_new = (df_info2.drop(columns=['cluster_joint_r0.1', 'cluster_joint_r1', 'cluster_joint_r2', 'cluster_joint_r4'])
                       .rename(columns={
                               'tsne_x_joint': 'joint_embedding_x', 
                                'tsne_y_joint': 'joint_embedding_y', 
                                'cluster': 'single_modality_cluster',
                                'annot': 'single_modality_annot',
                                'cluster_round_2': 'joint_cluster_round2', 
                                'cluster_round_2_anno': 'joint_cluster_round2_annot', 
                                'cluster_round_3': 'joint_cluster_round3', 
                                'cluster_round_3_anno': 'joint_cluster_round3_annot', 
                                'cluster_round_3_color': 'joint_cluster_round3_color', 
                                'cluster_round_4': 'joint_cluster_round4', 
                                'cluster_round_4_anno': 'joint_cluster_round4_annot', 
                                'cluster_round_4_color': 'joint_cluster_round4_color', 
                               })
              )
            
print(df_info_new.shape)
df_info_new.head()

(408885, 15)

,sample,joint_embedding_x,joint_embedding_y,modality,modality_name,single_modality_cluster,single_modality_annot,joint_cluster_round2,joint_cluster_round2_annot,joint_cluster_round3,joint_cluster_round3_annot,joint_cluster_round3_color,joint_cluster_round4,joint_cluster_round4_annot,joint_cluster_round4_color
0,snmcseq_gene_2C_M_0,0.471629,-3.134735,snmcseq_gene,DNA methylation,L4-IT-Rorb_Rorb-Tenm2,L4-IT-Rorb_Rorb-Tenm2,1-1,L5 IT Rspo1_1,1-1-1,L5 IT Rspo1_1,#3CBC78,1-1-1-1,L5 IT Rspo1_1,#3CBC78
1,snmcseq_gene_2C_M_1,-2.414973,-12.098081,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-2,L2/3 IT,4-2-1,L2/3 IT,#6F836B,4-2-1-1,L2/3 IT,#6F836B
2,snmcseq_gene_2C_M_100,-1.446751,-12.051894,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-1,L2/3 IT,4-1-1,L2/3 IT,#6F836B,4-1-1-1,L2/3 IT,#6F836B
3,snmcseq_gene_2C_M_1000,-1.901734,-13.660591,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-2,L2/3 IT,4-2-1,L2/3 IT,#6F836B,4-2-1-1,L2/3 IT,#6F836B
4,snmcseq_gene_2C_M_1001,-0.981086,-11.936621,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4-1,L2/3 IT,4-1-1,L2/3 IT,#6F836B,4-1-1-1,L2/3 IT,#6F836B

In [16]:
# output = '/cndd/fangming/CEMBA/data/MOp_all/results_final/miniatlas_joint_clusterings.tsv'
# df_info_new.to_csv(output, sep='\t', header=True, index=False)

In [8]:
df_info_new.groupby('modality').size()

modality
10x_cells_v2             121440
10x_cells_v3              69727
10x_nuclei_v3             39706
10x_nuclei_v3_macosko    101647
smarter_cells              6244
smarter_nuclei             5911
snatac_gene               54844
snmcseq_gene               9366
dtype: int64